In [4]:
import numpy as np
import pandas as pd
import os.path
from sklearn.metrics import roc_auc_score
import tqdm

# Santander Customer Transaction Prediction (KAGGLE)

Leer de que trata la competencia

https://www.kaggle.com/c/santander-customer-transaction-prediction/overview

# Bajada de Dataset
La siguiente celda baja el dataset y lo guarda en la carpeta /data.

Luego de ejecutarla debería tener los archivos train.csv y test.csv en esta carpeta

# Carpeta on dataset:
https://drive.google.com/drive/folders/19scmxZ64fe7mIneDwG21eF_QLn-8-S8j?usp=sharing

In [5]:
# Si quiero habilitar mi google drive descomentar
# from google.colab import drive
# drive.mount('/content/gdrive')

# Cargar datos de train

In [6]:
df_train = pd.read_csv('data/train.csv')

In [16]:
# Miramos las primeras 5 observaciones del dataset
df_train.head()

# TODO: Importar datos de test y asignarlos a la variable df_test desde la carpeta data/
df_test = pd.read_csv('data/test.csv')

In [17]:
df_train.columns

Index(['ID_code', 'target', 'var_0', 'var_1', 'var_2', 'var_3', 'var_4',
       'var_5', 'var_6', 'var_7',
       ...
       'var_190', 'var_191', 'var_192', 'var_193', 'var_194', 'var_195',
       'var_196', 'var_197', 'var_198', 'var_199'],
      dtype='object', length=202)

Cuantas features (covariables, variable explicativa, variable independiente, variables exógenas) hay (dimensión de las observaciones, regresoras)? Que columna contiene la salida (variable dependiente, variable endógena)? Cuantas clases hay? Cuantas observaciones tiene train?

In [18]:
df_train.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [19]:
# TODO: Inspeccionar test
# Puede ejecutar los métodos que crea necesarios. Recomendamos describe, columns, shape, head
df_test.describe()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,10.658737,-1.624244,10.707452,6.788214,11.076399,-5.050558,5.415164,16.529143,0.277135,7.569407,...,3.189766,7.458269,1.925944,3.322016,17.996967,-0.133657,2.290899,8.912428,15.869184,-3.246342
std,3.036716,4.040509,2.633888,2.052724,1.616456,7.869293,0.864686,3.424482,3.333375,1.231865,...,4.551239,3.025189,1.479966,3.995599,3.140652,1.429678,5.446346,0.920904,3.008717,10.398589
min,0.188700,-15.043400,2.355200,-0.022400,5.484400,-27.767000,2.216400,5.713700,-9.956000,4.243300,...,-14.093300,-2.407000,-3.340900,-11.413100,9.382800,-4.911900,-13.944200,6.169600,6.584000,-39.457800
25%,8.442975,-4.700125,8.735600,5.230500,9.891075,-11.201400,4.772600,13.933900,-2.303900,6.623800,...,-0.095000,5.166500,0.882975,0.587600,15.634775,-1.160700,-1.948600,8.260075,13.847275,-11.124000
50%,10.513800,-1.590500,10.560700,6.822350,11.099750,-4.834100,5.391600,16.422700,0.372000,7.632000,...,3.162400,7.379000,1.892600,3.428500,17.977600,-0.162000,2.403600,8.892800,15.943400,-2.725950
75%,12.739600,1.343400,12.495025,8.327600,12.253400,0.942575,6.005800,19.094550,2.930025,8.584825,...,6.336475,9.531100,2.956000,6.174200,20.391725,0.837900,6.519800,9.595900,18.045200,4.935400
max,22.323400,9.385100,18.714100,13.142000,16.037100,17.253700,8.302500,28.292800,9.665500,11.003600,...,20.359000,16.716500,8.005000,17.632600,27.947800,4.545400,15.920700,12.275800,26.538400,27.907400

In [20]:
df_test.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

Que columna esta en los datos de train pero no en los de test? Cuantas observaciones de test hay?

In [21]:
df_test.shape

(200000, 201)

In [22]:
df_test.columns

Index(['ID_code', 'var_0', 'var_1', 'var_2', 'var_3', 'var_4', 'var_5',
       'var_6', 'var_7', 'var_8',
       ...
       'var_190', 'var_191', 'var_192', 'var_193', 'var_194', 'var_195',
       'var_196', 'var_197', 'var_198', 'var_199'],
      dtype='object', length=201)

# Problema 3

Cual es el porcentaje de 0s que hay en este dataset?

In [26]:
df_train['target'].value_counts()

0    179902
1     20098
Name: target, dtype: int64

In [38]:
df_train.value_counts("target")[0]

179902

In [41]:
porcentaje_cero = df_train.value_counts("target")[0]/df_train.shape[0]*100
porcentaje_cero

89.95100000000001

# Dividir data en Train y Val

In [42]:
N_train = 160_000
X_train = df_train.drop(columns=['ID_code', 'target']).values[:N_train]
X_val = df_train.drop(columns=['ID_code', 'target']).values[N_train:]
y_train = df_train['target'].values[:N_train]
y_val = df_train['target'].values[N_train:]

# Regresión logística

In [43]:
from sklearn.linear_model import LogisticRegression

In [48]:
model = LogisticRegression(solver='lbfgs', max_iter=100)

In [49]:
%time model.fit(X_train, y_train)

Wall time: 6.65 s

C:\Users\a202194\Anaconda3\envs\deep2020keras\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

A que se debe el warning no termina de convergence?

In [50]:
acc = model.score(X_train, y_train)
auc = roc_auc_score(y_train, model.predict_proba(X_train)[:,1])
print(auc)
print(acc)

0.8506804469273546
0.9120125

In [51]:
print(roc_auc_score(y_val, model.predict_proba(X_val)[:,1]))
print(model.score(X_val, y_val))

0.8528246017797103
0.9121

In [58]:
coef_, intercept_ = model.coef_, model.intercept_
print(coef_.shape)
print(intercept_.shape)

(1, 200)
(1,)

cuantos parámetros aprendio el modelo?

# Normalizar los datos

In [60]:
means = X_train.mean(axis=0)
stds = X_train.std(axis=0)
#print(means, stds)

[ 1.06759704e+01 -1.63166842e+00  1.07130824e+01  6.79499321e+00
  1.10790858e+01 -5.07556751e+00  5.40793844e+00  1.65584342e+01
  2.81299338e-01  7.56736407e+00  3.88024696e-01 -3.24766928e+00
  1.40242404e+01  8.53039250e+00  7.53458189e+00  1.45725999e+01
  9.33465242e+00 -5.70260459e+00  1.52382356e+01  1.24401536e+01
  1.32897276e+01  1.72722780e+01  4.30764792e+00  3.02042661e+00
  1.05827016e+01  1.36676789e+01 -4.05023401e+00 -1.13971911e+00
  5.53342081e+00  5.05379439e+00 -7.69658896e+00  1.03901242e+01
 -5.12393456e-01  1.47788724e+01  1.14349914e+01  3.83677891e+00
  2.18506432e+00  5.86594141e+00  1.06418304e+01  6.67367645e-01
 -6.74256572e+00  9.29416439e+00  1.12222642e+01  1.15698838e+01
  8.94371386e+00 -1.26870890e+01  1.13322180e+01 -1.24615051e+01
  1.46923132e+01  1.66645949e+01  1.27410736e+01  1.34288782e+01
 -2.52761609e+00  6.00795227e+00  1.14174990e+00  1.27521980e+01
  1.66263181e+01  6.26999738e+00  3.16634839e+00  8.93053756e+00
  1.21514385e+01 -1.19334202e+01  8.77105489e-01  6.61018406e-01
  6.36877472e+00  9.88981836e-01  5.79531593e+00  1.19458267e+01
  5.01891329e+00 -3.33476873e+00  2.44698865e+01  6.70366141e-01
  6.42975494e-01  1.96114909e+01  1.95030766e+01  1.68440596e+01
  6.05151961e+00  1.90617633e+01  5.35087530e+00  1.44002753e+01
  5.79650438e+00  1.47236680e+01 -3.46533094e+00  1.02435710e+00
 -2.59800202e+00  1.83605828e+01  5.61274079e+00  1.13574443e+01
  8.70052958e+00  3.72125645e+00 -1.65603773e+01  6.98753658e+00
  1.27399927e+01  1.05557857e+01  1.10010385e+01 -8.47248437e-02
  1.44280142e+01  1.85337838e+01  1.75266198e+00 -7.46857292e-01
 -6.59101224e+00  1.34116229e+01  2.22973768e+01  1.56821039e+00
  1.15144568e+01  4.24530613e+00  8.61848272e+00  1.77969418e+01
  1.42246870e+01  1.84613735e+01  5.51546105e+00  6.31383695e+00
  3.32316694e+00  8.14308661e+00  3.08010836e+00  2.21571700e+00
  2.40231038e+00  1.61069024e+01 -5.29895334e+00  3.03040885e+00
  2.44965983e+01  1.13079636e+01  1.18863537e+00  7.08379163e+00
  4.27485458e+00  1.24896008e+01  1.32032093e+01  8.51646222e-01
 -1.13470899e+00  1.54506579e+01  1.22572147e+01  5.45258132e-01
  7.80096329e+00  6.81355070e+00 -4.82238502e+00 -4.25228907e+00
  2.29732267e+01  1.76231821e+01  1.20937300e+00  7.76809143e+00
  3.41777334e+00  2.89378447e+00  1.19900101e+01  1.23365023e+01
  8.64873006e+00  4.83857745e+00  1.03418389e+01 -3.29382832e+00
  3.99050453e+00  5.30112820e+00  1.68111383e+01  1.01399576e+01
  7.63587830e+00  1.67301802e+01  6.98536608e+00 -2.07574278e+00
  1.32082312e+01 -4.81977559e+00  1.79166536e+01  1.02249401e+01
  2.42472601e+01  5.63315037e+00  5.36397196e+00  1.09959070e+01
 -2.87412324e+00  1.93171513e+01  2.96319523e+00 -4.16941726e+00
  4.93778370e+00  5.63587554e+00 -2.82079312e-03 -8.34064587e-01
  1.98374065e+01 -6.64918230e-01  2.02109471e+01  1.16391437e+01
 -2.80291040e+00  1.18824084e+01 -1.01842025e+00  2.59629572e+00
 -2.74140672e+00  1.00845773e+01  7.22603290e-01  8.77083152e+00
  1.27521588e+01 -3.98291137e+00  8.97061078e+00 -1.03302449e+01
  1.53843328e+01  7.47082565e-01  3.22448451e+00  7.43784857e+00
  1.92759831e+00  3.33477589e+00  1.79968645e+01 -1.42913510e-01
  2.28790480e+00  8.91156786e+00  1.58711960e+01 -3.33080953e+00] [3.03996693e+00 4.05196024e+00 2.63876222e+00 2.04383550e+00
 1.62260437e+00 7.84850342e+00 8.66155633e-01 3.41575646e+00
 3.33296620e+00 1.23536690e+00 5.49097795e+00 5.97251637e+00
 1.90162523e-01 4.63672116e+00 2.24911956e+00 4.11659029e-01
 2.55880304e+00 6.71612758e+00 7.85574864e+00 8.01403448e+00
 5.88102318e+00 8.20053753e+00 2.84782415e+00 5.26769419e-01
 3.77334234e+00 2.85304399e-01 5.92012243e+00 1.52401819e+00
 7.83678346e-01 2.61837853e+00 7.96625923e+00 2.16125311e+00
 2.58798550e+00 4.32594977e+00 5.41118185e-01 5.18916305e+00
 3.11883957e+00 2.24818529e+00 4.28655110e+00 4.06728049e+00
 8.28006633e+00 5.93911687e+00 6.96241126e-01 3.09544858e-01
 5.90834929e+00 2.14135391e+01 2.86026174e+00 1.05794943e+01
 1.13843741e+01 7.85008347e+00 6.91855074e-01 8.18900910e+00
 4.98849536e+00 7.64758266e-01 8.41280383e+00 5.68980669e+00
 3.54154604e+00 7.95400917e-01 4.29514298e+00 8.54813280e-01
 4.22449383e+00 1.16149396e+01 2.02439280e+00 3.11357354e+00
 1.48515869e+00 3.78301196e+00 1.12112361e+00 7.36459569e+00
 7.18483212e-03 3.95426738e+00 1.19541277e+01 2.66414304e-01
 3.94476500e+00 7.46189206e+00 1.40920271e+01 6.05860694e+00
 7.94142851e+00 3.81950774e+00 1.99447901e+00 1.30810546e+00
 7.43182399e+00 2.29949273e+00 8.48333018e+00 8.29294933e+00
 6.22834760e+00 3.91320860e+00 7.74973110e+00 5.66214114e+00
 2.49147369e+00 3.56099146e+00 1.31545212e+01 1.52548375e-01
 4.18413593e+00 5.43441431e-01 2.76283155e+00 6.20823743e-01
 8.52386371e+00 1.26378761e+01 7.16091335e-01 1.86279652e+00
 9.17079691e+00 4.94620823e+00 8.62880202e+00 1.85006841e-01
 1.97102696e+00 8.55709240e-01 1.89306909e+00 7.61156790e+00
 1.70998107e-01 4.35484941e+00 3.82036171e+00 1.08219662e+00
 1.58998739e+00 4.45651033e+00 9.85709684e-01 2.61856767e+00
 1.64970218e+00 1.33023766e+01 8.79822574e+00 4.18226861e+00
 1.21243068e+01 1.71475857e+00 5.16622220e+00 6.15213387e+00
 2.73204298e+00 3.18039610e-01 7.76593559e-01 3.13641945e+00
 3.23647375e+00 4.13824103e+00 8.32628008e-01 4.55927466e-01
 1.45582482e+00 3.75538717e-01 6.16232071e+00 7.61649018e+00
 1.03942190e+01 8.89437222e+00 4.55056460e+00 7.68623888e+00
 4.90141582e+00 6.71345595e+00 5.69531600e+00 2.93669207e+00
 9.21795235e-01 3.89615919e+00 2.52044564e+00 7.41528025e+00
 1.98891581e-01 1.03863670e+01 2.46486129e+00 3.96794569e+00
 3.00947341e+00 2.01559880e+00 4.96245004e+00 5.77095420e+00
 9.54420789e-01 5.56596074e+00 7.88296331e+00 4.12758810e+00
 1.08819722e+01 2.17960172e-01 1.42039645e+00 5.26585229e+00
 5.45967491e+00 5.02337330e+00 3.69758491e-01 7.79393150e+00
 3.10750141e+00 3.69653135e-01 4.42423477e+00 5.38281601e+00
 8.66536864e+00 5.96797529e+00 7.13281325e+00 2.88919763e+00
 7.51338845e+00 2.62980771e+00 8.58094630e+00 2.80266483e+00
 5.25974263e+00 1.37155822e+00 8.96500672e+00 4.47715389e+00
 9.32108745e+00 4.72120043e+00 3.19085142e+00 1.15735930e+01
 3.94557228e+00 9.76474587e-01 4.55945099e+00 3.02072578e+00
 1.47660698e+00 3.99352439e+00 3.13566867e+00 1.42772250e+00
 5.45473235e+00 9.21922916e-01 3.01068625e+00 1.04474175e+01]

In [61]:
X_train_normalized = (X_train - means)/stds
X_val_normalized = (X_val - means)/stds

In [62]:
model_2 = LogisticRegression(solver='lbfgs')
%time model_2.fit(X_train_normalized, y_train)

Wall time: 853 ms

LogisticRegression()

In [63]:
print(model_2.score(X_train_normalized, y_train))
print(roc_auc_score(y_train, model_2.predict_proba(X_train_normalized)[:,1]))

0.91440625
0.8606427353156717

In [64]:
print(model_2.score(X_val_normalized, y_val))
print(roc_auc_score(y_val, model_2.predict_proba(X_val_normalized)[:,1]))

0.914525
0.8629075884886785

In [72]:
# Ordenamos el valor absoluto de los parámetros de mayor a menor
# Coeficientes ordenados en función de su de mayor importancia
np.argsort(np.abs(model_2.coef_))[0][::-1]

array([ 81, 139,   6,  12,  53, 110,  76,  99, 146, 174,  26,  21,  22,
        80, 190, 166, 165, 198,  13,  34, 169,  44,   2, 148,   0,  40,
       133, 179, 170,  78,  94,   1, 184, 109,  33, 115,  92,  67, 149,
       108, 191, 122, 173, 154,  18,  86, 192, 118, 107, 121, 147,  95,
         9,  75,  35, 164, 177, 197, 172,  36, 127,  89, 123, 155,  91,
       188,  56,  87,  71,  48,   5,  93, 162, 106, 157, 130, 141, 145,
        24, 151,  32, 167, 163, 150, 186, 119,  49,  31, 180,  23, 111,
       195,  90, 131, 125, 137, 114, 199,  43, 116, 135,  52,  58, 128,
        70, 104, 175, 112, 132, 105,  11, 196,  85,  82, 194,  51,  28,
       142,  83,  66, 134, 144, 138,  74,  45, 156,  77,  55,  97, 140,
        20,  54, 193,  57,  88, 178,   8, 102, 113,  62,  15, 143, 159,
       187, 181, 171,  63,  72,  64,  50,  59, 120, 168, 182, 101,  25,
        68,   3,  65, 152,   4,  84,  37,  42, 176,  61, 129,  19, 189,
        69,  47,  60,  16,  27,  29,  79,  73, 158,  96, 160,  46, 124,
        98,  14, 153, 126,  39, 136, 183, 117,  41, 103, 100, 161,  10,
         7, 185,  38,  17,  30], dtype=int64)

In [73]:
# Parámetros menores a cero
negative_indexes = np.where(model.coef_<0)[1]
negative_indexes

array([  7,   9,  10,  12,  13,  14,  20,  21,  23,  27,  28,  31,  33,
        34,  36,  39,  41,  42,  43,  44,  45,  50,  54,  56,  57,  58,
        59,  63,  64,  72,  73,  75,  76,  77,  80,  81,  83,  85,  86,
        87,  88,  92,  93,  98, 101, 102, 104, 107, 109, 113, 114, 115,
       116, 117, 120, 121, 122, 123, 127, 129, 131, 132, 136, 139, 141,
       142, 143, 146, 148, 149, 150, 152, 153, 154, 156, 158, 160, 165,
       166, 169, 172, 174, 177, 178, 182, 183, 185, 186, 188, 192, 193,
       194, 197, 198], dtype=int64)

In [74]:
# Parámetros mayores a cero
positive_indexes = np.where(model.coef_>0)[1]
positive_indexes

array([  0,   1,   2,   3,   4,   5,   6,   8,  11,  15,  16,  17,  18,
        19,  22,  24,  25,  26,  29,  30,  32,  35,  37,  38,  40,  46,
        47,  48,  49,  51,  52,  53,  55,  60,  61,  62,  65,  66,  67,
        68,  69,  70,  71,  74,  78,  79,  82,  84,  89,  90,  91,  94,
        95,  96,  97,  99, 100, 103, 105, 106, 108, 110, 111, 112, 118,
       119, 124, 125, 126, 128, 130, 133, 134, 135, 137, 138, 140, 144,
       145, 147, 151, 155, 157, 159, 161, 162, 163, 164, 167, 168, 170,
       171, 173, 175, 176, 179, 180, 181, 184, 187, 189, 190, 191, 195,
       196, 199], dtype=int64)

In [75]:
len(negative_indexes)/len(positive_indexes)

0.8867924528301887

Notar que hay algunos parámetros mayores a cero y otros menores a cero. Como contribuyen en función de su signo?

In [76]:
# Ordenados de menor a mayor
np.argsort(model_2.coef_)[0]

array([ 81, 139,  12,  76, 146, 174,  21,  80, 166, 165, 198,  13,  34,
       169,  44, 148, 109,  33, 115,  92, 149, 108, 122, 154,  86, 192,
       107, 121,   9,  75, 177, 197, 172,  36, 127, 123, 188,  56,  87,
        93, 141, 150, 186,  31,  23, 131, 114,  43, 116,  58, 104, 132,
        85, 194,  28, 142,  83,  45, 156,  77,  20,  54, 193,  57,  88,
       178, 102, 113, 143,  63,  72,  64,  50,  59, 120, 182, 101,  68,
       152,  42, 129,  27,  73, 158, 160,  98,  14, 153,  39, 136, 183,
        41, 103,  10,   7, 185,  38,  17,  30, 161, 100, 117, 126, 124,
        46,  96,  79,  29,  16,  60,  47,  69, 189,  19,  61, 176,  37,
        84,   4,  65,   3,  25, 168, 171, 181, 187, 159,  15,  62,   8,
       140,  97,  55,  74, 138, 144, 134,  66,  51,  82, 196,  11, 105,
       112, 175,  70, 128,  52, 135, 199, 137, 125,  90, 195, 111, 180,
        49, 119, 163, 167,  32, 151,  24, 145, 130, 157, 106, 162,   5,
        48,  71,  91, 155,  89, 164,  35,  95, 147, 118,  18, 173, 191,
        67, 184,   1,  94,  78, 170, 179, 133,  40,   0,   2, 190,  22,
        26,  99, 110,  53,   6], dtype=int64)

In [77]:
# Ordenados de mayor a menor
np.argsort(model_2.coef_)[0][::-1]

array([  6,  53, 110,  99,  26,  22, 190,   2,   0,  40, 133, 179, 170,
        78,  94,   1, 184,  67, 191, 173,  18, 118, 147,  95,  35, 164,
        89, 155,  91,  71,  48,   5, 162, 106, 157, 130, 145,  24, 151,
        32, 167, 163, 119,  49, 180, 111, 195,  90, 125, 137, 199, 135,
        52, 128,  70, 175, 112, 105,  11, 196,  82,  51,  66, 134, 144,
       138,  74,  55,  97, 140,   8,  62,  15, 159, 187, 181, 171, 168,
        25,   3,  65,   4,  84,  37, 176,  61,  19, 189,  69,  47,  60,
        16,  29,  79,  96,  46, 124, 126, 117, 100, 161,  30,  17,  38,
       185,   7,  10, 103,  41, 183, 136,  39, 153,  14,  98, 160, 158,
        73,  27, 129,  42, 152,  68, 101, 182, 120,  59,  50,  64,  72,
        63, 143, 113, 102, 178,  88,  57, 193,  54,  20,  77, 156,  45,
        83, 142,  28, 194,  85, 132, 104,  58, 116,  43, 114, 131,  23,
        31, 186, 150, 141,  93,  87,  56, 188, 123, 127,  36, 172, 197,
       177,  75,   9, 121, 107, 192,  86, 154, 122, 108, 149,  92, 115,
        33, 109, 148,  44, 169,  34,  13, 198, 165, 166,  80,  21, 174,
       146,  76,  12, 139,  81], dtype=int64)

In [78]:
# Calculamos correlación de cada variable con la salida
correlations = []
for i in range(200):
    correlations.append(np.corrcoef(y_train, X_train_normalized[:,i])[1,0])

In [79]:
np.argsort(np.abs(correlations))[::-1]

array([ 81, 139,  12, 110,   6,  26,  53, 146, 174,  76,  99,  80, 166,
        22, 165,  21, 190, 148,   2,  13,  34, 133,   0, 198, 169, 109,
       179,  44,  40,   1, 115, 149, 170, 184,  78,  94,  92, 108,  67,
       191,  33,  18, 154, 173,  86, 122, 192, 147, 118,   9, 121,  75,
        95, 164, 123,  35,  91,  36, 172, 127, 107, 155,  89, 177, 197,
        56,  93, 188,  87,  71, 162,  48, 157, 106, 141, 145,   5,  32,
       163, 131, 167, 186, 119,  49,  24, 151, 130,  90, 111, 135, 180,
       125,  43,  51, 114, 195, 199,  52,  23, 150,  31, 116,  85,  70,
       137, 105, 128, 104,  58, 112, 196, 132,  11,  28, 175,  66,  82,
       194, 156,  83, 142,  45, 144,  88,  74, 178, 138,  77,   8,  97,
       134,  20,  55, 193,  54,  15, 102,  57, 159, 140, 171,  62, 113,
       187,  63, 143,  64,  25, 181,  50, 120, 168,  59,   3,  72,  65,
        68,  84, 101,  19,   4,  37,  61,  69, 189, 152, 182,  42,  16,
       129, 176,  47,  79, 153,  14, 183,  46, 160,  73,  60,  98, 158,
       124,  27, 100,  96,  29,  39,  10, 117, 136,   7,  41, 103,  38,
       161, 185,  30, 126,  17], dtype=int64)

# Feature engineering

In [80]:
# Agregamos 200 columnas con el cuadrado de cada columna normaliado a train
X_train_sq = X_train_normalized**2
means_sq = X_train_sq.mean(axis=0)
stds_sq = X_train_sq.std(axis=0)
X_train_FE = np.append(X_train_normalized, (X_train_sq - means_sq)/stds_sq, axis=1)

# Agregamos el cuadrado a validación normalizando con la media y std obtenida en train
X_val_sq = X_val_normalized**2
X_val_FE = np.append(X_val_normalized, (X_val_normalized**2-means_sq)/stds_sq, axis=1)

In [81]:
model_3 = LogisticRegression(solver='lbfgs')
%time model_3.fit(X_train_FE, y_train)

Wall time: 1.62 s

LogisticRegression()

In [82]:
print(model_3.score(X_train_FE, y_train))
print(roc_auc_score(y_train, model_3.predict_proba(X_train_FE)[:,1]))

0.9218625
0.8910807326950416

In [83]:
print(model_3.score(X_val_FE, y_val))
print(roc_auc_score(y_val, model_3.predict_proba(X_val_FE)[:,1]))

0.9221
0.8927208962331821

In [218]:
# Coeficientes ordenados en función de su de mayor importancia
np.argsort(np.abs(model_3.coef_))[0][::-1]

array([139,  81,   6,  53,  12,  21,  76, 174, 110,  34, 146,  26, 169,
        99, 165, 281,  22, 166, 190,  78,  33,  40,  13, 170, 149,  80,
       148, 184,  94, 109, 133, 192,  92, 122, 115,  67, 121, 198,   0,
         1, 173, 179,   2, 212,  18, 118, 108, 253, 398, 107, 191, 172,
       177,  44, 154, 310, 164,  35, 197, 226, 188,  36, 339, 299,  75,
       147, 244,   9, 280,  86,  87, 366,  95,  89,  48, 390, 127,  91,
       222, 309,  71, 346, 155, 202,   5, 323, 374, 379,  56, 145, 106,
       162, 123, 206, 221,  32, 186, 141, 200, 150, 348, 151,  31, 365,
       199,  49, 130, 240,  23, 278, 167, 157,  24, 333,  90, 276,  93,
       111, 119, 354, 137, 364, 195, 286, 363, 128, 112, 180, 380,  52,
       104, 114,  58, 131,  70, 355, 116, 125, 135, 295, 370, 233, 391,
       292, 201,  43, 275, 175, 196, 293, 357, 388, 294,  85, 163, 213,
       347,  82, 308, 142, 132,  28, 105,  11, 319, 234, 194, 291,  74,
       205,  97,  77, 140, 315,  45, 322,  20, 369,  55, 267, 256, 287,
       156,  66, 289, 251, 144,  51,  54, 306, 332,  83, 377, 397, 321,
       138, 134, 384, 330, 243, 218, 335,  57, 362, 341,   8,  88, 232,
       345, 102, 314, 113, 178, 193, 372, 159, 307, 325, 209, 250, 331,
       235, 373, 395, 367, 236, 311, 249, 396, 143, 288, 258, 252, 269,
       187,  62, 318,  59, 327, 271,  64,  15, 368, 171, 349,  72, 312,
       260,  63, 120, 350, 334, 211, 101,  50, 371, 375, 328, 168, 393,
       394, 268,   4, 352, 262, 338, 351,  65,  84, 344, 181, 176, 228,
       386, 283, 272, 343, 216, 337, 387,  42, 152, 282, 215, 189, 182,
         3, 270, 248,  37, 219,  25, 305,  68,  19, 353, 290, 129, 279,
       381, 285,  61, 378, 302, 298, 297, 263, 336, 203, 266, 246, 223,
       356, 277, 316, 239, 342, 241,  69, 208, 204,  29, 304, 392,  47,
        96, 301, 225, 383, 399, 313, 255, 153, 259, 324, 326, 160, 265,
       238, 245, 158, 261, 224,  16, 136,  39, 126,  41,  27, 376, 329,
        73,  60, 242, 317, 227, 124,  46,  79, 360,  14, 183, 257,  98,
       229, 303, 237, 296, 264, 274, 103, 273, 359, 320, 210, 361, 300,
       185, 389, 385, 247, 214, 284, 161, 217, 358, 207, 100, 340, 220,
        38, 382, 230,  17, 231,   7,  10, 117, 254,  30])

In [85]:
coef_, intercept = model_3.coef_, model_3.intercept_
print(coef_.shape)
print(intercept_.shape)

(1, 400)
(1,)

# Independecia

In [86]:
accs = []
aucs = []
val_predictions = np.zeros((len(X_val_normalized), 200))
train_predictions = np.zeros((len(X_train_normalized), 200))
for i in tqdm.tqdm(range(200)):
    model_ind = LogisticRegression(solver='lbfgs')
    X_one_train = X_train_normalized[:,i].reshape(-1,1)
    # X_one_train = np.array([X_train_normalized[:,i], X_train_normalized[:,i]**2]).T
    model_ind.fit(X_one_train, y_train)
    X_one_val = X_val_normalized[:,i].reshape(-1,1)
    # X_one_val = np.array([X_val_normalized[:,i], X_val_normalized[:,i]**2]).T
    train_predictions[:, i] = model_ind.predict_proba(X_one_train)[:,1]
    val_predictions[:, i] = model_ind.predict_proba(X_one_val)[:,1]
    acc = model_ind.score(X_one_val, y_val)
    auc = roc_auc_score(y_val, val_predictions[:, i])
    accs.append(acc)
    aucs.append(auc)

100%|████████████████████████████████████████████████████████████████████████████████| 200/200 [00:32<00:00,  6.16it/s]

In [87]:
roc_auc_score(y_train, train_predictions.sum(axis=1))

0.8692585548756987

In [88]:
roc_auc_score(y_val, val_predictions.sum(axis=1)) 
# 0.8729094090424484

0.8729094090424484

In [89]:
np.log(0.5)

-0.6931471805599453

In [92]:
-1/2 * (0 * np.log(0.9)+ (1-0) * np.log(0.9) + 1 * np.log(0.1) +  (1-1) * np.log(0.1))

1.203972804325936